html,
body {
  font-family: "Phantom Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: none;
  padding: none;
  font-weight: 400;
}

h1 {
  font-size: 32px;
  font-weight: 800;
  margin: 0;
}

@media screen and (min-width: 32em) {
  h1 {
    font-size: 48px;
  }
}

@media screen and (min-width: 48em) {
  h1 {
    font-size: 64px;
  }
}

h2 {
  font-size: 32px;
  margin: 0;
}

h3 {
  font-size: 28px;
  margin: 0;
}

h4 {
  font-size: 20px;
  margin: 0;
}

h5 {
  font-size: 16px;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0;
}

body {
  margin: 0;
}

/* boxes */

.container {
  margin: 3% 8% 3% 8%;
}

.box {
  margin: 0;
  background-color: #e0e6ed;
  padding: 16px;
  border-radius: 12px;
  word-wrap: break-word;
  overflow-x: auto;
}

/*colors and shadows! */

:root {
  --darker: #121217;
  --dark: #17171d;
  --darkless: #252429;
  --black: #1f2d3d;
  --steel: #273444;
  --slate: #3c4858;
  --muted: #8492a6;
  --smoke: #e0e6ed;
  --snow: #f9fafc;
  --white: #ffffff;
  --red: #ec3750;
  --orange: #ff8c37;
  --yellow: #f1c40f;
  --green: #33d6a6;
  --cyan: #5bc0de;
  --blue: #338eda;
  --purple: #a633d6;
  --text: #ffffff;
  --background: #17171d;
  --elevated: #252429;
  --sheet: #252429;
  --sunken: #121217;
  --border: #252429;
  --primary: #ec3750;
  --secondary: #8492a6;
  --accent: #5bc0de;
  --text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.125);
  --small-shadow: 0 1px 2px rgba(0, 0, 0, 0.0625), 0 2px 4px rgba(0, 0, 0, 0.0625);
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.125);
  --elevated-shadow: 0 1px 2px rgba(0, 0, 0, 0.0625), 0 8px 12px rgba(0, 0, 0, 0.125);
}

/* buttons */
.button-fill {
  color: var(--white);
  font-size: 1rem;
  background-color: var(--primary);
  padding: 15px 20px 15px 20px;
  border: none;
  border-radius: 30px;
  font-weight: 900;
}

.lg-button-fill {
  color: var(--white);
  font-size: 1rem;
  background-color: var(--primary);
  padding: 20px 30px 20px 30px;
  border: none;
  border-radius: 100px;
  font-weight: 900;
}

.button-outline {
  color: var(--primary);
  font-size: 1rem;
  background-color: transparent;
  padding: 15px 20px 15px 20px;
  border: 3px solid var(--primary);
  border-radius: 30px;
  font-weight: 900;
}

.lg-button-outline {
  color: var(--primary);
  font-size: 1rem;
  background-color: transparent;
  padding: 20px 30px 20px 30px;
  border: 3px solid var(--primary);
  border-radius: 40px;
  font-weight: 900;
}