/*colors and shadows! */

.color-boxes {
  font-size: 12px;
  display: flex;
  margin-left: -12px;
  flex-wrap: wrap;
}
.color-box {
  width: 128px;
  height: 128px;
  margin: 12px;
  border-radius: 5px;
  box-shadow: var(--card-shadow);
}

.color-box p {
  color: #fff;
  text-align: center;
  margin-top: 43%;
}

/* additional styling */

.centre {
  text-align: center;
  background-color: var(--red);
  color: var(--white);
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.centre h1 {
  margin: 0 !important;
}

.line-break {
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
}
.footer {
  text-align: center;
  font-weight: 700;
  margin-top: 1rem;
}

.no-styles-a {
  color: inherit;
  text-decoration: none;
  text-underline-position: under;
}

.no-styles-a:hover {
  color: var(--primary);
  text-decoration: none;
  text-underline-position: under;
}