/*colors and shadows! */

.all-color-box {
  font-size: 12px;
  display: flex;
  margin-left: -12px;
  flex-wrap: wrap;
}
.color-box {
  width: 128px;
  height: 128px;
  margin: 12px;
  border-radius: 5px;
  box-shadow: var(--card-shadow);
}

.color-box p {
  color: #fff;
  text-align: center;
  margin-top: 43%;
}

/* additional styling */

.centre {
  text-align: center;
  background-color: var(--red);
  color: var(--white);
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.centre h1 {
  margin: 0 !important;
}

.line-break {
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
}
.footer {
  text-align: center;
  font-weight: 700;
  margin-top: 1rem;
}

.pill {
  background: var(--white);
  border-radius: 16px;
  color: var(--sunken);
  padding: 8px 16px;
  margin-top: 8px;
  display: inline-block;
  font-weight: 800;
  transition: transform 0.2s ease-in-out;
  box-shadow: var(--card-shadow);
  text-decoration: none;
}
.pill:hover{
    transform: rotate(2deg);
    box-shadow: var(--elevated-shadow);
}
.pill2:hover{
    transform: rotate(-2deg);
    box-shadow: var(--elevated-shadow);
}
